---
title: Le Wagon - Middleman
---

<div id="home">
  <!-- Home content eh a navbar que sendo importada do layout -->
  <!-- De onde vem a nav bar? porque chamamos partial para banner e o card -->
  <div class="home-content">

      <%= partial "layouts/banner" %>
      <%= partial "layouts/card" %>
      <%= partial "layouts/team"%>



  </div>
</div>

